//
// Page Contents
// ---------------------------

body {
	padding-top: @navbar-height;
}
#welcome{
	height: 300px;
	background-color: #191919;
	color: #fff;
	.btn{
		margin-top: 16px;
	}
	@media (max-width:@screen-sm-max){
		background: #191919 url(../img/subway-906x600.jpg) center center no-repeat;
	}
	@media (min-width:@screen-sm-min){
		height: 480px;
		.container{
			position:relative;
		}
	}
	.welcome-message{
			background-color: hsla(0,0,1%,0.4);
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 30px 40px;
			strong{
				font-size: 1.5em;
				text-transform: uppercase;
				display: block;
			}
			right: 20%;
			bottom: auto;
		}
	@media (min-width:@screen-md-min){
		height: 540px;
		background: #191919 url(../img/subway-1600x1060.jpg) center center no-repeat;
		-webkit-background-size:over;
		-moz-background-size:over;
		background-size: over;
	}
	position: relative;
}